#home {
  background: #EB2649;
  height:100%;
}


.stroke {
	border: 1px solid #FFF;
	position: absolute;
	padding: 10px;
	border-radius: 3px;
}

a {
  color: #0077ee;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #111;
     }